pandas                 
tensorboard               
tensorboard-data-server      
tensorboard-plugin-wit      
tensorflow                
tensorflow-io-gcs-filesystem 
clean-text              
emoji                   
numpy                   
matplotlib                  
plotly                      